@import "../../assets/styles/colors.scss";

.signin-page-absolute-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  & .signin-form-page {
    padding: 30px;
    margin: 70px auto;
    width: 40%;
    border: 1px solid $primary-blue;
    box-shadow: inset 0 0 25px #00918e;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    & .form-signin {
      & .form-signin-button {
        margin-top: 20px;
        text-transform: uppercase;
        height: 2rem;
        background: none;
        border: 1.5px solid yellow;
        color: $light-blue;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        &:hover {
          background-color: $primary-blue;
          border: none;
          outline: none;
        }
      }
    }
  }
}
