@import "../../assets/styles/colors.scss";

.search-page-absolute-wrapper {
  margin-top: 65px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.search-page {
  width: 50%;
  margin: 0 auto;
  border: 1px solid $primary-blue;
  box-shadow: inset 0 0 25px $light-blue;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
