@import "../../assets/styles/colors.scss";

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
  height: 50px;
  color: $yellow;
  background-color: $primary-blue;
  z-index:10;
}

.header-item {
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}
